.app {
    min-height: 100vh;
    padding: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* różne tła */
.app.clear {
    background: linear-gradient(#4facfe, #00f2fe);
}

.app.clouds {
    background: linear-gradient(#bdc3c7, #2c3e50);
}

.app.rain {
    background: linear-gradient(#4b6cb7, #182848);
}

.app.default {
    background: #0f172a;
}

.app h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.app p {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: #ff4d4d;
    text-align: center;
    margin-top: 20px;
}

/* WRAPPER */
.search-bar {
    display: flex;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto 30px;
}

/* INPUT */
.search-bar input {
    flex: 1;
    padding: 14px 16px;
    border-radius: 14px;
    border: none;
    outline: none;

    background: rgba(0, 0, 0, 0.4); /* 🔥 zamiast jasnego */
    color: white;
    font-size: 14px;

    backdrop-filter: blur(10px);
    transition: 0.2s;
}

/* placeholder */
.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* focus */
.search-bar input:focus {
    background: rgba(0, 0, 0, 0.6);
}

/* BUTTON */
.search-bar button {
    padding: 14px 18px;
    border-radius: 14px;
    border: none;
    cursor: pointer;

    background: linear-gradient(135deg, #3b82f6, #06b6d4);
    color: white;
    font-weight: 500;

    transition: 0.2s;
}

/* hover */
.search-bar button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* klik */
.search-bar button:active {
    transform: scale(0.97);
}

/* KARTA */
.weather-card {
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12px);
    text-align: center;
}

/* HEADER */
.weather-header h2 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

.weather-header p {
    margin: 5px 0 15px;
    opacity: 0.8;
    color: #fff;
}

/* MAIN */
.weather-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

.weather-main img {
    width: 80px;
}

.weather-main h1 {
    font-size: 48px;
    margin: 0;
    color: #fff;
}

/* DETAILS */
.weather-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 10px;
}

.weather-details div {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.weather-details span {
    display: block;
    font-size: 14px;
    opacity: 0.7;
    color: #fff;
}

.weather-details strong {
    font-size: 16px;
    color: #fff;
}

.weather-card {
    transition: 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
}
